@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto:wght@100;300;400&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  font-weight: 400;
  color:rgba(0, 0, 0, 0.71);
}

code{
  font-family: 'Fira Code', monospace !important;
}
body{
  background:url('https://images.unsplash.com/photo-1521117092387-f58629760ecf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* color:rgb(31, 31, 54); */
}